.navbar {
    width: 80vw;
    height: 70px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: 400;
}

.navbar h1 a.light:link,
.navbar h1 a.light:visited { color: var(--light-text); } 

.navbar h1 a.dark:link,
.navbar h1 a.dark:visited { color: var(--dark-text); } 

.navbar h1 a:hover, 
.navbar h1 a:active {
    position: relative;
    top: -1px;
}

.navbar .hamburger {
    padding: 10px 10px 5px;
    border-radius: 50%;
}

.hamburger-dark { color: var(--dark-text); }
.hamburger-light { color: var(--light-text); }

.navbar .hamburger-dark:active { background-color: var(--dark-active-bg); }
.navbar .hamburger-light:active { background-color:  var(--light-active-bg); }

.navbarContainer {
    width: 240px;
    padding: 10px 10px;
    position: absolute;
    top: 90px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    z-index: -2;
    border-radius: 6px;
    transition: visibility 0.6s ease-in, right 0.3s ease-in;
}

.navbarContainer-dark { background-color: var(--dark-navbar-color); }
.navbarContainer-light { background-color: var(--light-navbar-color); }

.navbarContainerClose {
    position: absolute;
    top: 90px;
    right: -20px;
    visibility: hidden;
}

.themeButton-light,
.themeButton-dark {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.themeButton-dark { 
    border: 1px solid var(--dark-text); 
    color: var(--dark-text);
}

.themeButton-light { 
    border: 1px solid var(--light-text); 
    color: var(--light-text);
}

.themeButton-light:hover {
    color: var(--light-text);
    background-color: var(--light-navbar-color-hover);
}

.themeButton-dark:hover {
    color: var(--dark-text);
    background-color: var(--dark-navbar-color-hover);
}


@media screen and (max-width: 1200px) {
    .navbar { width: 90vw; }
}

@media screen and (max-width: 760px) {
    .navbar { width: 100vw; }

    .navbarContainer { right: 20px; }
}