.app-dark { background: var(--dark-bg); }

.app-light { background: var(--light-bg); }

.container {
    width: 80vw;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .container { width: 90vw; }
}

@media screen and (max-width: 760px) {
    .container {
        margin: 0;
        width: 100vw;
    }
}